ul {
  list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    background-image: url('../img/burger.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-left: -30px;
    padding-left: 73px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #9C1C18;
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  